.vscode/**
src/**
test-e2e/**
out-e2e/**
node_modules/**
scripts/**
.github/**
.claude/**
.gitignore
.eslintrc*
tsconfig.json
tsconfig.e2e.json
vitest.config.ts
log.txt
**/*.map
**/*.log
*.vsix
out/__tests__/**
